{% extends 'platform/base.html.twig' %}

{% block style %}
<style>
    /*
    .bi {
        display: inline-block;
        width: 1rem;
        height: 1rem;
    }
    @media (min-width: 768px) {
        .sidebar .offcanvas-lg {
            position: -webkit-sticky;
            position: sticky;
            top: 48px;
        }
        .navbar-search {
            display: block;
        }
    }
    .sidebar .nav-link {
        font-size: .875rem;
        font-weight: 500;
    }
    .sidebar .nav-link.active {
        color: #2470dc;
    }
    .sidebar-heading {
        font-size: .75rem;
    }
    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }
    .navbar .form-control {
        padding: .75rem 1rem;
    }
     */
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        font-weight: bold;
    }
    .dropdown-toggle::after {
        content:none;
    }
    nav ol.breadcrumb li::after {

        content: " \00bb "; /* This is the CSS code for raquo */
        padding: 0 4px; /* Add some padding so it doesn't stick to the breadcrumb text */
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

    .sidebar .nav-link {
        font-size: 0.8em;
    }

    nav ol.breadcrumb li:last-child::after {
        content: ""; /* We don't want a raquo after the last breadcrumb item */
    }
</style>
{% endblock %}

{% block content %}

{#{ include('platform/backend/v1/navbar.html.twig') }#}

{{ include('platform/backend/v1/header.html.twig') }}

<div class="container-fluid">
    <div class="row">

        {{ include('platform/backend/v1/sidebar.html.twig') }}

        <main class="col-md-9 ms-sm-auto col-lg-10 p-3">

            {% if breadcrumbs is defined %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for title,url in breadcrumbs %}
                        <li class="breadcrumb">
                            <a href="{{ url }}" class="text-secondary"><small>{{ title }}</small></a>
                        </li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}

            {% block main %}{% endblock %}

        </main>
    </div>
</div>

{% endblock %}
