<!--header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">䷊ Platform / Harkály Gergő</a>
</header-->
<header class="text-bg-dark border-bottom">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="mb-2 mb-lg-0 text-white text-decoration-none">
                <b class="text-uppercase">䷊ Platform BMS</b><br>Harkály Gergő
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white text-uppercase"><i class="bi bi-basket"></i> CMS</a></li>
                <li><a href="#" class="nav-link px-2 text-white text-uppercase"><i class="bi bi-basket"></i> CRM</a></li>
                <li><a href="#" class="nav-link px-2 text-white text-uppercase"><i class="bi bi-basket"></i> ECOM</a></li>
                <li><a href="#" class="nav-link px-2 text-white text-uppercase"><i class="bi bi-building"></i> ERP</a></li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-toggle="dropdown" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új értesítés</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-theme="dark" data-bs-toggle="dropdown">
                    <i class="bi bi-calendar"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új esemény</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-envelope"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új üzenet</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>

            |

            <div class="text-end">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <img alt="account" class="rounded-circle" src="https://placehold.co/50x50/FFFFFF/FFF" style="float:left;margin:0 5px;">
                        <span>Harkály Gergő<br><small class="text-white-50 float-start">webfejlesztő</small></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profil és beállítások</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-briefcase"></i> Vállalkozások és szervezetek</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Rendszereszközök</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-question-circle"></i> Támogatás és support</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-warning" href="#"><i class="bi bi-box-arrow-right"></i> Kijelentkezés</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
