<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
    <span>Profil</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-bell"></i>
            Értesítések
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-calendar"></i>
            Naptárbejegyzések
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-envelope-arrow-up"></i>
            Rendszerüzenetek
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-card-text"></i>
            Jegyzet
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-hdd"></i>
            Tárhely
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-alarm"></i>
            Munkaidő-nyilvántartás
        </a>
    </li>
</ul>
<hr>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
    <span>Számlázás</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-light d-flex align-items-center gap-2" href="{{ path('admin_service_index') }}">
            <i class="bi bi-plugin"></i>
            Szolgáltatások
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light d-flex align-items-center gap-2" href="{{ url('admin_billing_profile') }}">
            <i class="bi bi-receipt"></i>
            Számlázási profilok
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-files"></i>
            Számlák
        </a>
    </li>
</ul>
<hr>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
    <span>Beállítások</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-light d-flex align-items-center gap-2" href="{{ url('account_edit') }}">
            <i class="bi bi-person"></i> Profil szerkesztése
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-telephone"></i> Elérhetőségek szerkesztése
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-lock"></i> Jelszó módosítása
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-envelope"></i>
            Szinkronizált e-mail fiókok
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-calendar"></i>
            Szinkronizált naptárak
        </a>
    </li>
</ul>
