<div class="sidebar col-md-3 col-lg-2 p-0 bg-dark text-white">
    <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Platform</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 overflow-y-auto vh-100">

            {% if sidebar|default %}
                {% include sidebar %}
            {% else %}
                {% include 'platform/backend/v1/sidebar_main.html.twig' %}
            {% endif %}

        </div>
    </div>
</div>
