{% set array = {
    "<a class='nav-link text-light' href='/hu/admin'><span><i class='bi bi-speedometer2'></i> Vezérlőpult</span></a>": {
    },
    '<span><i class="bi bi-star"></i> Kedvencek</span>': {
        '#intranet': '<i class="bi bi-info-square"></i> Intranet',
    },
    'ERP | Vállalkozásirányítás': {
        '/hu/admin/task': '<i class="bi bi-list-task"></i> Feladatkezelő',
        '#idopontfoglalo': '<i class="bi bi-calendar-plus"></i> Időpontfoglaló <small>(szolgáltatói)</small>',
        '#realestate': '<i class="bi bi-house"></i> Ingatlanbázis <small>(ingatlanügynökségi)</small>',
        '#accommodation': '<i class="bi bi-building-add"></i> Szállásfoglaló <small>(szállásadói)</small>',
    },
    'CMS | Tartalomkezelés': {
        '/hu/admin/website': '<i class="bi bi-globe2"></i> Weboldal',
        '#webshops': '<i class="bi bi-cart"></i> Webáruház',
        '#webapplications': '<i class="bi bi-window"></i> Webalkalmazás',
        '#mobilapplications': '<i class="bi bi-phone"></i> Mobilalkalmazás',
    },
    'CRM | Ügyfélkapcsolat': {
        '#clients': '<i class="bi bi-people"></i> Ügyféllista',
        '#newsletter': '<i class="bi bi-mailbox-flag"></i> Hírlevél',
        '#forms': '<i class="bi bi-ui-checks"></i> Űrlapok',
        '#automatizmusok': '<i class="bi bi-person"></i> Automatizmusok',
    },
    'ECOM | Értékesítés': {
        '#products': '<i class="bi bi-shop"></i> Termékek',
        '#abandontcarts': '<i class="bi bi-bag-x"></i> Elhagyott kosarak',
        '#orders': '<i class="bi bi-basket"></i> Vásárlások',
        '#paymentmethods': '<i class="bi bi-credit-card"></i> Fizetési módok',
        '#shippingmethods': '<i class="bi bi-truck"></i> Szállítási módok',
        '#analytics': '<i class="bi bi-bar-chart"></i> Analitika',
    },
    'Eszközök': {
        '#clients': '<i class="bi bi-link-45deg"></i> Link rövidítés',
        '#exportimport': '<i class="bi bi-arrow-down-up"></i> Export/import',
    }
}
%}
<!-- FŐ -->
{% for key, value in array %}
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
        <span>{{ key|raw }}</span>
    </h6>
    <ul class="nav flex-column">
        {% for link, va in value %}
            <li class="nav-item">
                <a class="
                    {% if '#' in link %}
                        text-white-50
                    {% else %}
                        text-light
                    {% endif %}
                    nav-link d-flex align-items-center gap-2" href="{{ link }}">
                    {{ va|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
{% endfor %}
<!-- /FŐ -->

