<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
    <span>Rendszer</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-gear"></i>
            Rendszerbeállítások
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-people"></i>
            Felhasználók
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-journal-text"></i>
            Tevékenységnapló
        </a>
    </li>
</ul>
<hr>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fw-bold">
    <span>Támogatás</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="{{ path('admin_service_index') }}">
            <i class="bi bi-question-circle"></i>
            Súgó
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-bug"></i>
            Hibajegy
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white-50 d-flex align-items-center gap-2" href="#">
            <i class="bi bi-person-badge"></i>
            Felhasználói dokumentáció
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white d-flex align-items-center gap-2" href="{{ url('admin_system_developer_book') }}">
            <i class="bi bi-file-code"></i>
            Fejlesztői specifikáció
        </a>
    </li>
</ul>
